@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&display=swap');
.recomm {
  background-color: #fff;
}
.recomm-container {
  display: flex;
  margin: 0 auto;
  padding: 60px 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
}
.recomm-box {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background: #fff;
}
.header-recomm {
  width: 100%;
  margin: 0 auto;
}
.header-recomm h3 {
  font-family: 'Nunito Sans', sans-serif;
  color: #333;
  width: 97%;
  margin-left: 1rem;
  font-weight: 900;
  font-size: 1.618rem;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  line-height: 1;
  padding-bottom: 0.5em;
  margin-bottom: 1rem;
  position: relative;
}
.header-recomm h3:after {
  display: block;
  content: '';
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #ff5351;
  bottom: 0;
}
.text h4 {
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 15px;
}
.text p {
  color: #0000009e;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  max-width: 1000px;
}
.grid .text {
  padding: 20px;
}
.recomm-box-item {
  box-shadow: rgb(50 50 105 / 15%) 0px 2px 5px 0px,
    rgb(0 0 0 / 5%) 0px 1px 1px 0px;
  overflow: hidden;
}
.recomm-box-item img {
  max-width: 100%;
  width: 335px;
  transition: 0.3s;
}
.recomm-box-item img:hover {
  transform: scale(1.1);
}
#btn-recomm {
  margin: 25px auto;
  min-width: 100%;
  background-color: #fff;
  color: #000;
}
/* Responsive */
@media screen and (max-width: 960px) {
  .header-recomm {
    width: 720px;
    margin: 0 auto;
  }
  .grid {
    max-width: 875px;
  }
}
@media screen and (max-width: 612px) {
  .recomm-box {
    padding: 0;
  }
}
@media screen and (max-width: 576px) {
  .header-recomm {
    width: 370px;
    margin: 0 auto;
  }
  .grid {
    max-width: 576px;
  }
}
