@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
.img-bg {
  height: 400px;
  margin: 0 auto;
  padding: 250px 0;
  color: #fff;
  background-size: cover;
}
.takahata {
  background: url(../media/images/isaotakahata.webp) no-repeat fixed center;
}
.satoshikon {
  background: url(../media/images/satoshi_kon.webp) no-repeat fixed center;
}
.makotoshinkai {
  background: url(../media/images/makoto_shinkai.webp) no-repeat fixed center;
}
.studioghibli {
  background: url(../media/images/studioghibli.webp) no-repeat fixed center;
}
.hayaomiyazaki {
  background: url(../media/images/hayao_miyazaki.webp) no-repeat fixed center;
}
.naokoyamada {
  background: url(../media/images/naoko_yamada.webp) no-repeat fixed center;
}
.mamoruhosoda {
  background: url(../media/images/mamoru_hosoda.webp) no-repeat fixed center;
}
.recommended {
  background: url(../media/images/recommended-anime.webp) no-repeat fixed center;
}
.akage {
  background: url(../media/images/posts/never-die-akage-no-an.webp) no-repeat
    fixed center;
}
.heidi {
  background: url(../media/images/posts/heidi-conquered-japan.webp) no-repeat
    fixed center;
}
.brefoot {
  background: url(../media/images/posts/banned-anime-barefoot-gen.webp)
    no-repeat fixed center;
}
.furandasu {
  background: url(../media/images/posts/furandasu-no-inu-children.webp)
    no-repeat fixed center;
}
.night {
  background: url(../media/images/posts/night-short.webp) no-repeat fixed center;
}
.title-text {
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  font-size: 45px;
  letter-spacing: 20px;
  margin-top: -20px;
  text-align: center;
}
.title-text-post {
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  margin-top: -20px;
  text-align: center;
}
.single-container {
  max-width: 1000px;
  width: 100%;
  margin: 40px auto;
}
.line-description {
  border-bottom: 3px solid #ff5351;
  width: 200px;
  margin: 20px auto;
  margin-bottom: 40px;
}
.box-description {
  margin: 0 auto;
}
.single-text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  padding-top: 25px;
  color: #8f8164;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
.single-text-description {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 20px auto;
  padding: 0 30px;
  line-height: 25px;
  font-weight: 500;
}
.box-grid-single {
  margin-top: -40px;
}
.animes {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 1.25rem;
}
form {
  text-align: center;
}
select {
  width: 30%;
  font-size: 18px;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  outline: none;
}
.single-box {
  padding-bottom: 70px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.box-img-single {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  border-style: none;
}
.box-img-single img {
  height: 430px;
  transition: 0.3s;
}
.single-box:hover .box-img-single img {
  transform: scale(1.1);
}
.box-content-single {
  height: 80px;
  width: 100%;
  position: absolute;
  text-align: center;
  overflow: hidden;
  bottom: 0;
  transition: 0.4s;
  background-color: #fff;
  z-index: 5;
}
.single-box:hover .box-content-single {
  height: 150px;
}
.single-title {
  padding: 5px 20px 5px 20px;
  transition: 0.5s;
}
.single-title h4 {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  margin: 5px;
}
.single-box:hover .box-content-single {
  background: #ff5351;
  color: #fff;
}
.text-img-single {
  padding-top: 1rem;
}
.single-info {
  color: #fff;
  padding: 0px 10px 5px;
}
.container-single {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  align-content: center;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 40px;
}

.container-single-left {
  padding: 10px;
  flex: 15%;
}
.container-single-right {
  padding: 10px;
  flex: 40%;
}
.container-single-right h4 {
  font-family: 'Nunito Sans', sans-serif;
  color: #333;
  font-weight: 900;
  font-size: 1.618rem;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  line-height: 1;
  padding-bottom: 0.5em;
  margin-bottom: 1rem;
  position: relative;
}
.container-single-right h4:after {
  display: block;
  content: '';
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #ff5351;
  bottom: 0;
}
.container-single-right p span {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-style: normal;
}
.container-single-right p {
  font-family: 'Poppins', sans-serif;
  color: #757575;
  font-size: 14px;
  margin: 10px auto;
}
.container-trailer {
  max-width: 985px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 70px;
}
.video-youtube {
  overflow: hidden;
  padding-bottom: 550px;
  position: relative;
  height: 0;
  background-image: url(../media/images/video-not-available.webp);
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
}
.video-youtube iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.metadata {
  margin-bottom: 1em;
}
.metadata span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  display: block;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0.25em;
}
.blockquote {
  font-size: 1.4em;
  width: 94%;
  margin: 50px auto;
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #ff5351;
  line-height: 1.6;
  position: relative;
  background: #ededed;
}
.blockquote::before {
  font-family: Arial;
  content: '\201C';
  color: #ff5351;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}
.blockquote::after {
  content: '';
}
.blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}
.post-img {
  text-align: center;
}
.post-img img {
  max-width: 750px;
  width: 90%;
}
@media (max-width: 960px) {
  .container-single {
    flex-direction: column;
  }
  .container-single-left {
    flex: 100%;
    margin: 0 auto;
  }
  .container-single-right {
    flex: 100%;
  }
}
@media screen and (max-width: 576px) {
  .title-text {
    font-size: 39px;
  }
}
@media screen and (max-width: 430px) {
  .title-text {
    font-size: 39px;
  }
  .container-single-left img {
    width: 230px;
  }
}
@media screen and (max-width: 370px) {
  .title-text {
    font-size: 20px;
  }
}
