@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
.img-bg {
  background: url(../media/images/studioghibli.webp) no-repeat fixed center;
  height: 400px;
  margin: 0 auto;
  padding: 250px 0;
  color: #fff;
  background-size: cover;
}
.img-bg-takahata {
  background: url(../media/images/isaotakahata.webp) no-repeat fixed center;
  height: 400px;
  margin: 0 auto;
  padding: 250px 0;
  color: #fff;
  background-size: cover;
}
.title-text {
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  font-size: 55px;
  letter-spacing: 20px;
  margin-top: -20px;
  text-align: center;
}
.single-container {
  max-width: 1000px;
  width: 100%;
  margin: 40px auto;
}
.line-description {
  border-bottom: 3px solid #ff5351;
  width: 200px;
  margin: 20px auto;
  margin-bottom: 40px;
}
.box-description {
  margin: 0 auto;
}
.single-text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  padding-top: 25px;
  color: #8f8164;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
.single-text-description {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 20px auto;
  padding: 0 30px;
  line-height: 25px;
  font-weight: 500;
}
.animes {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 1.25rem;
}
form {
  text-align: center;
}
select {
  width: 30%;
  font-size: 18px;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  outline: none;
}
.single-box {
  padding-bottom: 70px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.box-img-single {
  position: relative;
  z-index: 5;
  overflow: hidden;
  vertical-align: middle;
  border-style: none;
}
.box-img-single img {
  height: 430px;
  transition: 0.3s;
}
.single-box:hover .box-img-single img {
  transform: scale(1.1);
}
.box-content-single {
  height: 80px;
  width: 100%;
  position: absolute;
  text-align: center;
  overflow: hidden;
  bottom: 0;
  transition: 0.4s;
  background-color: #fff;
  z-index: 5;
}
.single-box:hover .box-content-single {
  height: 150px;
}
.single-title {
  padding: 5px 20px 5px 20px;
  transition: 0.5s;
}
.single-title h4 {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  margin: 5px;
}
.single-box:hover .box-content-single {
  background: #ff5351;
  color: #fff;
}
.text-img-single {
  padding-top: 1rem;
}
.single-info {
  color: #fff;
  padding: 0px 10px 5px;
}
/* Responsive */
@media screen and (max-width: 576px) {
  .title-text {
    font-size: 39px;
  }
}
@media screen and (max-width: 370px) {
  .title-text {
    font-size: 20px;
  }
}
